@keyframes hovering {
    0% {
        box-shadow: none;
        background-color: #026670;
    }
    100% {
        border:1px black;
        box-shadow:  5px 5px rgba(0,0,0,1);
        background-color: black;
    }
}
@keyframes unhovering {
    0% {
        border:1px black;
        box-shadow:  5px 5px rgba(0,0,0,1);
        background-color: black;
    }
    100% {
        border: 0px;
        box-shadow: none;
        background-color: #026670;
    }
}
@keyframes hovering-text {
    0% {
        border: 0px;
        box-shadow: none;
    }
    100% {
        border:1px black;
        box-shadow:  3px 3px rgba(0,0,0,1);
    }
}
@keyframes unhovering-text {
    0% {
        border:1px black;
        box-shadow:  3px 3px rgba(0,0,0,1);
    }
    100% {
        border: 0px;
        box-shadow: none;
    }
}

.page {
    height: 100vh;
    flex: auto;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.main-page {
    flex-grow: 1;
    display: block;
    max-width: 1280px;
    margin: 0px auto;
}
.post-page {
    flex-grow: 1;
    display: grid;
    background-color:#026670;
    margin-bottom: -30px;
}

.post-page {
    flex-grow: 1;
    display: grid;
    background-color:#026670;
}
.post-page__container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.post-page__bar {
    grid-column: 1;
}
.post-page__come-back  {
    position: sticky;
    top: 37px;
    left: 37px;
    
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px;
    position: relative;
    overflow: hidden;
    border: 2px solid #FCE181 ;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #FCE181 ;
    transition: .2s ease-in-out;
}
.post-page__come-back:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.post-page__come-back:hover {
    background: #FCE181 ;
    color: black;
    cursor: pointer;
}
.post-page__come-back:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
/* .video-page__come-button {
    background-color: ;
} */

.post-page__info {
    margin: 0px auto;
    grid-column: 2;
    margin-top: 90px;
    margin-bottom: 40px;
    width: 80%
}
.post-page__title {
    margin: 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    grid-column: 2;
    align-self:center;
    text-align: left;
    color: white;
}
.post-page__text {
    margin: 0 0;
    margin-top: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: white;
}















.video-page {
    display: grid;
    background-color:#026670;
    margin-bottom: -30px;
    flex-grow: 1;
}
.video-page__container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.video-page__bar {
    grid-column: 1;
    position: fixed;
    top: 37px;
    left: 37px;
}
.video-page__come-back  {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px;
    position: sticky;
    overflow: hidden;
    border: 2px solid #FCE181 ;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #FCE181 ;
    transition: .2s ease-in-out;
}
.video-page__come-back:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.video-page__come-back:hover {
    background: #FCE181 ;
    color: black;
    cursor: pointer;
}
.video-page__come-back:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
/* .video-page__come-button {
    background-color: ;
} */

.video-page__info {
    margin: 0px auto;
    grid-column: 2;
    margin-top: 90px;
    margin-bottom: 40px;
}
.video-page__title {
    margin: 0px auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    grid-column: 2;
    align-self:center;
    text-align: left;
    color: white
}
.video-page__video {
    margin: 0px auto;
    border-radius: 2%;
    margin-top: 20px;
    width: 70vw; 
    height: calc(70vw * 0.5625);
    grid-column: 2;
}
.close {
    display: none;
}
.header {
    margin: 0px auto;
    margin-top: 20px;
    width: 95%;

    background-image: url('../images/kevin-snow-Pvyue6LixGY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.6);

    padding-bottom: 50px;
    border-radius: 30px;
    position: relative;
}
.header-image {
    position: absolute;
    margin: 0px auto;
    width: 100%;

    object-fit: cover;
    z-index: -1;
    border-radius: 30px;
    height: 100%;
}
.main {
    margin: 0px auto;
    width: 95%;
}
.list {
    background-color:  #EDEAE5;
    display: grid;
    grid-template-columns:auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
}
.card {
    margin: 0px auto;
    margin-top: 10px;
    max-width: 100%;
    background-color: #026670;
    border-radius: 20px;
    justify-self: center;
    overflow: hidden;
    animation: unhovering 2s forwards;
}
.card__stat-title {
    margin: 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: white;
}
.card__stat-line-border {
    border: 1px solid white;
    height: 10px;
    z-index: 2;
}
.card__stat-line{
    height: 10px;
    width: 100%;
    background-color: #27ff00;
}
.card__stat-line_10 {
    width: 10%;
    background-color: #f62700;
}
.card__stat-line_20 {
    width: 20%;
    background-color: #f13f00;
}
.card__stat-line_30 {
    width: 30%;
    background-color: #eb5700;
}
.card__stat-line_40 {
    width: 40%;
    background-color: #dd9600;
}
.card__stat-line_50 {
    width: 50%;
    background-color: #d2c500;
}
.card__stat-line_60 {
    width: 60%;
    background-color: #b2cf00;
}
.card__stat-line_70 {
    width: 70%;
    background-color: #94d900;
}
.card__stat-line_80 {
    width: 80%;
    background-color: #6be800;
}
.card__stat-line_90 {
    width: 90%;
    background-color: #4ef200;
}
.card__title {
    margin: 0px auto;
    margin-top: 20px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card__preview {
    margin: 0px auto;
    margin-top: 8px;
    margin-bottom: 10px;

    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
}
.card__stat-area {
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 25px;
}
.card__stat-name {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
}
/* .card__stat {
    margin: 0px auto;
    width: 310px;
    max-width: 100%;
    border-radius: 13px 13px 0px 0px;
    object-fit: cover;
    
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
} */
/* .card:hover .card__image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */
.card:hover {
    cursor: pointer;
    animation: hovering 2s forwards;
}
.theme-area {
    margin: 0px auto;
}
.card__theme {
    margin: 0px 0px;
    margin-top: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: white;
}
.card__info {
    width: 85%;
    margin: 0px auto;
}
.swiper {
    margin: 0px auto;
    margin-top: 20px;
    width: 90%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper__news {
    margin: 0px auto;
    border-radius: 13px;
    object-fit: cover;
}
.swiper__news:hover {
    cursor: pointer;
}

/* .swiper__link-area {
    margin-top: -40px;
    background-color: #fff;
    border-radius: 5%;
    opacity: 0.9;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 19px;

    width: fit-content;
    animation: unhovering-text 1.5s forwards;
}

.swiper__link {
    margin: 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    color: black;
    text-decoration: none;
} */
.swiper__title-area {
    margin-top: -40px;
    background-color: #fff;
    border-radius: 5%;
    opacity: 0.9;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 19px;

    width: fit-content;
}
.swiper__title-area:hover {
    cursor: pointer;
}
.swiper__title {
    margin: 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    color: black;
    text-decoration: none;
}
.swiper__title:hover {
    cursor: pointer;
}
.nav-bar {
    height: 60px;
    /* background-color: #FCE181; */
}

.blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.logo {
    height: 234px;
    margin-top: -36px;
    margin-left: -80px;
}
.footer {
    flex-grow: 0;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    background-color: black;
}
.footer__text {
    margin: 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-align: right;
    margin-left: 20px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .swiper {
        width: 70%;
    }
    .list {
        grid-template-columns:auto auto;
    }
    .video-page__info {
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .post-page__info {
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1280px) {
    .swiper {
        width: 50%;
    }
    .list {
        grid-template-columns:auto auto auto;
    }
    .video-page__bar {
        left: 60px;
    }
    .video-page__bar {
        left: 60px;
    }
}